<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
  <strong>Genre:</strong>
  <%= book.genre %>
</p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

  <p>
  <strong>Description:</strong>
  <%= book.description %>
</p>
<p>
<strong>Content:</strong> </br> 
<div style="margin:50px;">
<%= book.content%>
</div>
</p>
</div>
