<div id="<%= dom_id book %>">
<div align = "center">
<table class = "booklist">
<thead>
  <tr>
  <th> <strong><%="#{t('book_author')}"%></strong> </th>
  <th><strong><%="#{t('book_language')}"%></strong></th>
  <th><strong><%="#{t('book_genre')}"%></strong></th>
  </tr>
</thead>

<tbody>
<td> <%= book.author %> </td>
        
  <td><%= book.language %></td>

  <td><%= book.genre %><td>

</tbody>
</table>
</div>
<p align = "center"><strong><%="#{t('book_description')}"%></strong></p>
<p>
  <div style="padding-left:250px; padding-right:250px; text-align: center;">
    <%= book.description%>
  </div>
</p>
  <p>
    <h3><%= book.name %></h3>
      <div style="padding-left:250px; padding-right:250px;">
    <%= book.content%>
  </div>
  </p>
</div>
