<div id="<%= dom_id book %>">
  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

</div>
