<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :genre, style: "display: block" %>
    <%= form.text_field :genre %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
  <%= form.label :language, style: "display: block" %>
  <%= form.text_field :language%>
</div>

  <div>
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author%>
  </div>

  <div>
    <%= form.label :author_email, style: "display: block" %>
    <%= form.text_field :author_email%>
  </div>


  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year%>
  </div>

  <div>
  <%= form.label :description, style: "display: block" %>
  <%= form.text_area :description, cols: 100, rows: 10%>
</div>

<div>
<%= form.label :content, style: "display: block" %>
<%= form.text_area :content, cols: 100, rows: 100%>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
