<div>
<%= search_form_for @q do |f| %>
  <%= label_tag ("Название содержит:") %>
  <%= f.text_field :name_cont, class: 'form-control' %> </br>
  <%= label_tag ("Год публикации от:") %>
  <%= f.search_field :year_gteq, class: 'form-control' %>
  <%= label_tag ("до:") %>
  <%= f.search_field :year_lteq, class: 'form-control' %> </br>
  <%= label_tag ("Жанр:") %> 
  <%= f.search_field :genre_eq, class: 'form-control' %> </br>
  <%= label_tag ("Автор:") %> 
  <%= f.search_field :author_cont, class: 'form-control' %> </br>
  <%= label_tag ("Язык:") %> 
  <%= f.search_field :language_eq, class: 'form-control' %> </br>
  <%= link_to "Очистить", request.path, class: "btn btn-default" %> </br>
  <%= f.submit class: 'btn btn-primary' %>
  <% end %>


<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, "Название", default_order: :asc) %></th>
      <th><%= sort_link(@q, :author, "Автор", default_order: :asc) %></th>
      <th><%= sort_link(@q, :year, "Год", default_order: :asc) %></th>
      <th><%= sort_link(@q, :genre, "Жанр", default_order: :asc) %></th>
      <th><%= sort_link(@q, :language, "Язык", default_order: :asc) %></th>
      <th><%= sort_link(@q, :description, "Описание", default_order: :asc) %></th>
      <th><%= sort_link(@q, :description, "Email", default_order: :asc) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.year %></td>
        <td><%= book.genre %></td>
        <td><%= book.language %></td>
        <td><%= book.description %></td>
        <td><%= book.author_email %></td>
        <td><%= link_to 'Show', book %></td>
      </tr>
    <% end %>
  </tbody>
</table>